ul {
    list-style: none;
}

.cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 150px;
}

.total-price-info {
    display: flex;
    justify-content: left;
}

.list-title {
    display: flex;
    justify-content: right;
}

.cart-detail {
    border-top: solid 1px black;
}